* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 768px) {
  /* only screen and*/
  header .navbar ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footerHorizontal {
    margin-bottom: 150px;
  }

  .biography p {
    font-size: 0.9rem;
  }

  .projectsBgroundContainerBottom div.project {
    width: 35vw;
    height: 20vh;
    border-bottom: 0.5rem solid yellow;
  }

  .sectionContainer .contactInformation {
    flex-wrap: wrap;
  }
  .sectionContainer .contactInformation div {
    font-size: 1.5rem;
  }
}
.navbar ul {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  padding: 1rem;
  font-family: "Segoe UI", Nunito, Tahoma, Genava, Verdana, sans-serif;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  padding: 0 1rem;
  color: white;
}
.navbar ul li:hover {
  background-color: red;
}
.navbar .active {
  background-color: red;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto 0 auto 0;
  height: 80vh;
  color: white;
}
.sectionContainer h1 {
  border-bottom: 3px solid white;
  font-size: 3rem;
}
.sectionContainer h1 span {
  color: red;
}
.sectionContainer .contactInformation {
  display: flex;
  justify-content: center;
  gap: 1rem 3rem;
  font-size: 2rem;
  margin-top: 1.2rem;
}

.footerHorizontal {
  display: flex;
  justify-content: space-between;
}
.footerHorizontal .footerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerVertical {
  width: 100%;
}
.footerVertical .footerLeft ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footerVertical .footerRight {
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: flex-start;
  position: fixed;
  right: -85px;
  bottom: 75px;
}

.footerMiddle {
  display: flex;
  justify-content: space-between;
}
.footerMiddle .footerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBgroundContainer {
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

.aboutBgroundContainerTop, .projectsBgroundContainerTop {
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  width: auto;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  color: white;
}
.aboutBgroundContainerTop .titel p, .projectsBgroundContainerTop .titel p {
  padding: 1rem 5rem;
}

.aboutBgroundContainerBottom {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.aboutBgroundContainerBottom .bio1 {
  width: 60vw;
  height: 25vh;
  background-color: #414141;
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 0.5rem solid #ff652f;
}
.aboutBgroundContainerBottom .bio2 {
  width: 60vw;
  height: 25vh;
  background-color: #414141;
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 0.5rem solid #ff652f;
}
.aboutBgroundContainerBottom .bio3 {
  width: 60vw;
  height: 25vh;
  background-color: #414141;
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 0.5rem solid #ff652f;
}

.projectsBgroundContainerTop .title h1 {
  margin-bottom: 2.5rem;
}

.projectsBgroundContainerBottom {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 5rem;
}
.projectsBgroundContainerBottom .pro1 {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  background-image: url("../img/project-1.jpg");
}
.projectsBgroundContainerBottom .pro2 {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  background-image: url("../img/project-2.jpg");
}
.projectsBgroundContainerBottom .pro3 {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  background-image: url("../img/project-3.jpg");
}
.projectsBgroundContainerBottom .pro4 {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  background-image: url("../img/project-4.jpg");
}
.projectsBgroundContainerBottom .pro5 {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  background-image: url("../img/project-5.jpg");
}
.projectsBgroundContainerBottom .pro6 {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  background-image: url("../img/project-6.jpg");
}

.contactBgroundContainer {
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

html {
  transition: a 5s;
}

/*# sourceMappingURL=index.css.map */
