//************************************
//***! ABOUT
//************************************

.aboutBgroundContainerTop {
  @include bgroundStyles;
  width: auto;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  color: white;
  .titel {
    p {
      padding: 1rem 5rem;
    }
  }
}
.aboutBgroundContainerBottom {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  .bio1 {
    @include biographysContent;
  }
  .bio2 {
    @include biographysContent;
  }
  .bio3 {
    @include biographysContent;
  }
}
