//************************************
//***! PROJECTS
//************************************

.projectsBgroundContainerTop {
  @extend .aboutBgroundContainerTop;
  .title {
    h1 {
      margin-bottom: 2.5rem;
    }
  }
}

.projectsBgroundContainerBottom {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 5rem;

  .pro1 {
    @include projectsContent;
    background-image: url($project1);
    // &:hover {
    //   background-color: orange;
    // }
  }
  .pro2 {
    @include projectsContent;
    background-image: url($project2);
  }
  .pro3 {
    @include projectsContent;
    background-image: url($project3);
  }
  .pro4 {
    @include projectsContent;
    background-image: url($project4);
  }
  .pro5 {
    @include projectsContent;
    background-image: url($project5);
  }
  .pro6 {
    @include projectsContent;
    background-image: url($project6);
  }
}
