//************************************
//***! HEADER
//************************************

.navbar {
  ul {
    display: flex;
    justify-content: flex-end;
    // font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    font-family: "Segoe UI", Nunito, Tahoma, Genava, Verdana, sans-serif;

    li {
      list-style: none;
      a {
        text-decoration: none;
        padding: 0 1rem;
        color: white;
      }
      &:hover {
        background-color: red;
      }
    }
  }
}
