//************************************
//***! MİXİN
//************************************

@mixin bgroundStyles {
  background: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url($bgImg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

@mixin biographysContent {
  width: 60vw;
  height: 25vh;
  background-color: #414141;
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 0.5rem solid #ff652f;
}

@mixin projectsContent {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
