//************************************
//***! MİXİN
//************************************

@mixin bgroundStyles {
  background: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url($bgImg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

@mixin biographysContent {
  width: 60vw;
  height: 25vh;
  background-color: #414141;
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 0.5rem solid #ff652f;
}

@mixin projectsContent {
  width: 40vw;
  height: 60vh;
  border-bottom: 0.5rem solid #ff652f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
@mixin media-sm {
  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 768px) {
    /* only screen and*/
    @content;
  }
}

@mixin media-md {
  // /* Medium devices (landscape tablets, 768px and up) */
  @media (max-width: 992px) {
    @content;
  }
}
