//**************************************
//*** VARİABLES
//**************************************

$bgImg: "../img/model-1.jpg";
$project1: "../img/project-1.jpg";
$project2: "../img/project-2.jpg";
$project3: "../img/project-3.jpg";
$project4: "../img/project-4.jpg";
$project5: "../img/project-5.jpg";
$project6: "../img/project-6.jpg";
